@media only screen and (min-device-width: 1224px) {
  @import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
  body {
    margin: 0;
    padding: 0;
    height: 100vh !important;
  }
  .main-container {
    display: flex;
    height: 100vh;
    width: 70%;
    margin: auto;

    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    // box-shadow: 0px 4px 8px #42424238;
    flex-direction: column;
    .header-zxx {
      width: 100%;
      height: 80px;
      border-bottom: 1px solid #f5f5f5;
      display: flex;
      align-items: center;
      font-size: 24px;
      box-shadow: 0px 2px 2px  #42424210;
      justify-content: center;
      position: relative;
      margin: 0;
      .picture-zxx {
        height: 50px;
        width: 50px;
        background-color: #e5e5e5;
        border-radius: 50%;
      }
    }
    .chat-view-zxx {
      margin: 0;
      // padding-top: 10px; 
      width: 100%;
      height: calc(100vh - 120px);
      background-color: white;
      display: block;
      position: relative;
      overflow-y: scroll;
      padding-bottom: 10px;
      .chat-bubble-container-recv-zxx {
        width: 97%;
        height: fit-content;
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: row;
        margin: auto;
        justify-content: flex-start;
        padding-top: 5px;

        .chat-bubble-recv-zxx {
          height: fit-content;
          display: flex;
          box-shadow: 0px 2px 2px  #42424210;
          padding-left: 30px;
          padding-top: 5px;
          padding-bottom: 5px;
          word-wrap: break-word;
          min-height: 40px;
          max-width: 40%;
          border: none;
          align-items: center;
          justify-content: flex-end;
          padding-right: 30px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          background-color: grey;
          font-size: 20px;
        }
        .chat-bubble-recv-loading-zxx {
          height: fit-content;
          display: flex;
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding: 5px 20px;
          word-wrap: break-word;
          min-height: 30px;
          max-width: 40%;
          border: none;
          align-items: center;
          justify-content: space-evenly;
          // padding-right: 10px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          box-shadow: 0px 2px 2px  #42424210;
          // border-radius:15px;
          background-color: grey;
        }
      }
      .chat-bubble-container-send-zxx {
        width: 97%;
        height: fit-content;
        display: flex;
        position: relative;
        flex-direction: row;
        margin: auto;
        // padding: 20px;
        padding-top: 5px;
        justify-content: flex-end;
      .chat-bubble-send-zxx {
          display: flex;
          position: relative;
          height: fit-content;
          align-items: center;
          justify-content: flex-start;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 3px;
          padding-bottom: 3px;
          box-shadow: 0px 3px 2px  #42424210;          
          word-wrap: break-word;
          min-height: 40px;
          max-width: 40%;
          font-size: 20px;
          border: none;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          background-color: #e5e5e5;
        }
      }
    }
    .message-box-zxx {
      width: 100%;
      height: 100px;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #f5f5f5;

      margin: 0;
      form {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      .input-zxx {
        width: 90%;
        color: black;
        font-size: 18px;
        font-family: inherit;
        background-color: transparent;
        border:none;
        // border: 2px solid transparent;
        padding-bottom: 10px;
        padding-left: 10px;
        // border-bottom-color: rgb(214, 214, 214);
        &:focus {
          outline: none;
        }
      }
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 90%;
        padding-left: 10px;
        background-color: green;
        opacity: 0;
        transform-origin: bottom right;
        // transform: scaleX(0);
        transition: transform 0.2s ease;
      }

      input:focus ~ span {
        // transform-origin: bottom left;
        // transform: scaleX(1);
        opacity: 1;
      }
      .send-button-zxx {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        display: flex;
        position: relative;
        border: none;
        // margin-left: 10px;
        background-color: transparent;
        // box-shadow: 0px 4px 8px #42424238;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .balls {
    width: 2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .balls div {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #fc2f70;
    transform: translateY(-100%);
    animation: wave 0.4s ease-in-out alternate infinite;
  }

  .balls div:nth-of-type(1) {
    animation-delay: -0.4s;
  }

  .balls div:nth-of-type(2) {
    animation-delay: -0.2s;
  }

  @keyframes wave {
    from {
      transform: translateY(-30%);
    }
    to {
      transform: translateY(30%);
    }
  }
  .hover-icon-zxx{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
  }
  .loader-zxx {
    border: 3px solid #fafafaff;
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
}
