@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }

  .main-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    flex-direction: column;
    .header-zxx {
      width: 100%;
      height: 60px;
      margin-bottom: 10px;
      border-bottom: 1px solid #faf8f8;
      display: flex;
      position: relative;
    justify-content: center;
      margin: 0;
      .picture-zxx {
        height: 50px;
        width: 50px;
        background-color: #e5e5e5;
        border-radius: 50%;
        display: block;
        position: relative;
        margin-left: 10px;
        margin-top: 5px;
      }
    }
    .chat-view-zxx {
      margin: 0;
      width: 100%;
      height: calc(100vh - 120px);
      background-color: white;
      display: block;
      padding-top: 10px;
      position: relative;
      overflow-x: scroll;
      .chat-bubble-container-recv-zxx {
        width: 95%;
        height: fit-content;
        display: flex;
        position: relative;
        flex-direction: row;
        margin: auto;
        justify-content: flex-start;
        padding-top: 5px;
        .chat-bubble-recv-zxx {
          display: flex;
          height: fit-content;
          // min-height: 35px;
          width: fit-content;
          max-width: 60%;
          min-width: 100px;
          align-items: center;
          justify-content: center;
          border: none;
          padding: 10px;
          font-size: 16px;
          padding: 10px 20px;
          padding-right: 15px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          background-color: grey;
          box-shadow: 0px 3px 2px  #42424210;


        }
        .chat-bubble-recv-loading-zxx {
          height: fit-content;
          display: flex;
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding: 3px 10px;
          word-wrap: break-word;
          min-height: 30px;
          max-width: 40%;
          border: none;
          align-items: center;
          justify-content: space-evenly;
          // padding-right: 10px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          box-shadow: 0px 3px 2px  #42424210;
          // border-radius:15px;
          background-color: grey;
        }
      }
      .chat-bubble-container-send-zxx {
        width: 95%;
        height: fit-content;
        display: flex;
        position: relative;
        flex-direction: row;
        font-size: 14px;
        margin: auto;   
        // padding: 20px;
        padding-top: 5px;
        justify-content: flex-end;
        .chat-bubble-send-zxx {
          // display: flex;
          text-align: left;
          position: relative;
          height: fit-content;
          align-items: center;
          font-size: 16px;
          box-shadow: 0px 3px 2px  #42424210;
          justify-content: center;
          // min-height: 35px;
          width: fit-content;
          word-wrap: break-word;
          max-width: 150px;
          padding: 10px 20px;
          // padding-left: 15px;
        //   min-width: 70px;
          border: none;
          border-top-left-radius: 15px;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          background-color: #e5e5e5;
          // box-shadow: 0px 4px 8px #42424238;
        }
      }
    }
    .message-box-zxx {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      border-top: 1px solid #faf8f8;
      margin: 0;
      form {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
      }
      .input-zxx {
        width: 100%;
        color: black;
        font-size: 16px;
        font-family: inherit;
        background-color: transparent;
        border: 2px solid transparent;
        padding-bottom: 5px;
        padding-left: 5px;
        &:focus {
          outline: none;
        }        
        &::placeholder{
          color: rgb(194, 194, 194);
        }
      }
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        padding-left: 5px;

        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.2s ease;
      }

      .send-button-zxx {
        border-radius: 50%;
        height: 45px;
        width: 45px;
        display: flex;
        position: relative;
        background-color: transparent;
        border: none;
        // box-shadow: 0px 4px 8px #42424238;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .balls {
    width: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .balls div {
    width: 0.3em;
    height: 0.3em; 
    border-radius: 50%;
    background-color: #fc2f70;
    transform: translateY(-100%);
    animation: wave 0.3s ease-in-out alternate infinite;
  }

  .balls div:nth-of-type(1) {
    animation-delay: -0.4s;
  }

  .balls div:nth-of-type(2) {
    animation-delay: -0.2s;
  }

  @keyframes wave {
    from {
      transform: translateY(-30%);
    }
    to {
      transform: translateY(30%);
    }
  }

  .loader-zxx {
    border: 3px solid #fafafa00;
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
